/* src/Sidebar.css */

.sidebar {
  width: 200px;
  background-color: #ffffff;
  color: #fff;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: none;
  border-right: 1px solid #bfbfbf;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}
.sidebar ul li:hover {
  background-color: #eeebf4;
}

.sidebar ul li {
  padding: 15px 15px 15px 20px;

  text-align: left;
}

.sidebar ul li a {
  color: #4b4b4b;
  text-decoration: none;
  display: flex;
  align-items: center;
  font-weight: 600;
}

.sidebar ul li a .icon {
  margin-right: 10px;
  font-size: 20px;
}

.sidebar ul li a:hover {
  background-color: #eeebf4;
}

.sidebar ul li a.active {
  background-color: #eeebf4;
}
.sidebar ul li a .text {
  font-size: 14px !important;
  padding-top: 5px;
}

.main-content {
  margin-left: 200px;
  margin-right: 10px;
  min-height: 641px;
  transition: margin-left 0.3s;
  background-color: whitesmoke;
}
.links {
  margin-top: 10%;
}
.settings {
  margin-top: 80%;
}
.side-logo {
  margin-left: 8%;
  padding-top: 6.5% !important;
  padding-bottom: 1.8% !important;
  font-family: sans-serif;
}
/* Adjust main content margin for smaller screens */
@media (max-width: 768px) {
  .sidebar {
    width: 60px;
    overflow: hidden;
  }
  .sidebar ul li a .text {
    display: none;
  }
  .main-content {
    margin-left: 60px;
  }
  .settings {
    position: fixed;
    bottom: 0 !important;
  }
  .side-logo {
    display: none !important;
  }
  .links {
    margin-top: 96%;
  }
  .side-hr {
    display: none;
  }
}
svg {
  color: #4b4b4b;
}
