body {
  background-color: #ffffff !important;
}

.logo {
  height: 3em;
  background: none;
}
.navbar-brand {
  background-repeat: no-repeat;
  background-size: contain;
  background-color: transparent !important;
}
.sticky-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  overflow: hidden;
  background-color: #ffffff;
  box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.1);
  padding: 0.7% 6% 0.7% 6%;
}
.buttons {
  list-style-type: none;
}
.nav-link,
.buttons {
  border: 1px solid #253858 !important;
  width: 6em;
  height: 2em;
  font-size: 20px !important;
  border-radius: 0.1em;
  background-color: transparent !important;
  /* background-color: #0b5ed7 !important; */
  color: #253858 !important;
  font-weight: 600 !important;
}
.demo-link {
  color: #253858 !important;
  font-weight: 600 !important;
  font-size: 20px !important;
}
.demo-link:hover {
  background: transparent;
}

.content {
  margin: 0% 7% 2% 7%;
}
.content h1 {
  font-weight: 900;
  color: #212121;
}
.fade-in {
  animation: fadeIn 3s;
}
@keyframes fadeIn {
  from {
    opacity: 0.4;
    transform: translateY(10%);
  }
  to {
    opacity: 1;
  }
}

.signup {
  background: linear-gradient(to right, #16b9c3, #ff007f);
  border: 1px solid #16b9c3 !important;
  animation: gradientAnimation 10s ease infinite;
  border-radius: 0.3em !important;
  color: white !important;
  font-size: 20px !important;
  font-weight: 600 !important;
  padding: 10px !important;
  /* width: 30%; */
}
.modal {
  margin-top: 0%;
}
.project-name-input {
  color: #000 !important;
  border: none;
  width: 100%;
  outline: none;
}
.project-name-input:focus {
  border-bottom: 1px #31d2f2 solid;
  outline: none;
}
.custom-modal-header {
  border: none !important;
}
.projects-buttons input {
  width: 170px;
  border: 1px solid #e8e8e8;
  border-radius: 3px;
  text-align: center;
}
.projects-buttons input:focus {
  border: none;
  outline: 1px solid #3174ad;
}

textarea:focus {
  outline: none !important;
}
.custom-dropdown-toggle::after {
  display: none !important;
}
@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.video-container {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding-top: 56.4%; /* 16:9 Aspect Ratio */
}

.video-container iframe {
  border: 1px solid transparent;

  position: absolute;
  top: 0;
  left: 0;
  width: 99.6%;
  height: 100%;
}
.hero .row,
.hero .features span,
.hero .text-center {
  background-color: whitesmoke !important;
  color: #515151 !important;
}

.bg {
  /* background: url("./assets/bg.jpg") !important; */
  background: linear-gradient(to right, #eff5ff, #bedaff);
  background-position: top;
  background-repeat: no-repeat;
}
.features-cards {
  color: #101010 !important;
}
.features-cards .card {
  border-left: 5px solid #fb6793;
  background-color: #fffafa !important;
}
.footer {
  background-color: #212121 !important;
  color: #eaeaea;
  text-align: right;
}
.top-bar {
  background-color: #ffffff;
  padding: 6px 10px 6px 10px;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.1);
}

.searchbar {
  width: 100%;
  border: none;
  outline: none;
  background: none;
  padding-left: 5%;
}
.search .search-button {
  border: none;
  justify-content: flex-end;
  display: flex;
}
.search {
  border: 1px #f9f9f9 solid;
  border-radius: 6px;
  background-color: #f9f9f9;
  width: 85% !important;
}
.create {
  text-align: right;
}
.create .btn {
  background-color: #ff0854;
  padding: 4px;
  color: #fff;
}
.create .btn:hover {
  background-color: #fe9496;
  outline: #ff0854;
  color: #fff;
}
.home-cards .card {
  border: none !important;
}

.imageIcon {
  justify-content: flex-end;
  text-align: right !important;
}
.icon-image {
  border-radius: 50%;
  margin-top: 2%;
}
.first .home-cards .card {
  min-height: 15rem !important;
  max-height: 20rem !important;
}
.second .home-cards .card {
  min-height: 15rem;
}
.projects-cards .card {
  min-height: 13.5rem !important;
  cursor: pointer;
}
.projects-cards .card:hover {
  transform: scale(1.02);
}
.projects-cards .Completed {
  background-color: #f0ffff;
  border: 1px solid #e4ffeb;
}
.Completed .card-progress .progress-bar {
  background-color: red;
}
.projects-cards .Not-started {
  background-color: #f8f8ff;
  border: 1px solid #fff4e9;
}
.projects-cards .In-progress {
  background-color: #fff4f8 !important;

  border: 1px solid #f5edff;
  background-position: right;
}
.status-btn {
  text-align: right !important;
}
.status {
  width: fit-content !important;
  background-color: transparent;
  color: inherit;
  border-radius: 8px;
  border: 1px solid #cacaca;
  font-size: 14px;
}
.card-progress {
  padding: 0;
  margin: 0;
  background-color: #fff !important;
  height: 3px !important;
}

.tasks-container {
  margin: 3%;
}
.todo-item,
.completed-item {
  background: #ffffff;
  border-radius: 5px;
  cursor: pointer;
}
.todo-item:hover,
.completed-item:hover {
  background-color: #e4ffeb;
}
.star-task {
  text-align: right;
  cursor: pointer;
}
.todo-title {
  font-size: 15px;
}
.todo-title:hover {
  font-weight: 700;
  transform: scale(1.3);
}
.create-link {
  text-align: right;
}
.tasks-top {
  display: flex;
  justify-content: space-between;
}
.add-task-btn {
  background-color: #ff0854 !important;

  padding: 0.3rem 1rem 0.3rem 1rem !important;
  height: 2rem;
  color: #fff !important;
}
.input-task {
  border: none;
  border-bottom: solid 1px #f2f1f1;
  margin-left: 2%;
  width: 100%;
  padding: 1%;
}
.input-task:focus {
  outline: none;
  border-bottom: solid 1px #ccc;
}
.btns:hover {
  outline: none;
}
.task-card {
  width: 70%;
  left: 12%;
}
/* ========================================== */

/* Styling the calendar toolbar */
.rbc-toolbar {
  /* background-color: #d3c5e5; */
  padding: 10px;
}

/* Styling events */
.rbc-event {
  background-color: #fb9fd3 !important;
  color: #000 !important;
  border-radius: 1px !important;
  font-size: 13px !important;
  padding: 0 !important;
}

/* Styling the selected event */
.rbc-selected {
  background-color: #bbdcf6 !important;
}

.rbc-btn {
  background-color: #3174ad !important;
  color: white;
  border: none;
  padding: 8px 12px !important;
  margin: 0 5px;
  cursor: pointer;
  border-radius: 4px;
  font-size: 14px;
}

.rbc-btn:hover {
  background-color: #245999 !important;
}
.modal {
  position: absolute;
}
.editProject {
  margin-right: 1px;
}

.sign-card {
  padding: 9%;
}
.log-in-card {
  padding: 6%;
}
.login-page {
  background: linear-gradient(to right, #eff5ff, #bedaff);
}

.code-input input {
  width: 70px !important;
}
.notification {
  position: fixed;
  top: 15px;
  right: 24px;
  background-color: #fff; /* Green background */
  color: #000; /* White text */
  padding: 15px; /* Some padding */
  border-radius: 0px; /* Rounded corners */
  border-left: solid 7px #16b9c3;
  z-index: 1; /* Ensure it's above other content */
  font-weight: 600;
}
.priority-select:focus {
  outline: none;
}

@media (max-width: 700px) {
  .logo {
    height: 2.5em !important;
  }
  .imageIcon {
    display: none;
  }
  .signup {
    width: auto;
  }
  .create {
    text-align: left !important;
    margin-left: 2%;
  }

  .projects-title {
    font-size: 17px;
  }
  .home-cards .card,
  .projects-cards .card {
    margin: 3px;
  }
  .tasks-container {
    margin: 0.2rem;
  }
  .projects-buttons input {
    width: 90px !important;
    padding: 0;

    border: 1px solid #e8e8e8;
  }
  .status-dropdown {
    width: fit-content !important;
    padding: 0;
  }
  .sShot {
    text-align: center !important;
  }
  .project-card .card {
    margin: 0 !important;
  }
  .task-card {
    width: auto;
    left: auto;
  }
  .intro-bold {
    font-size: 23px !important;
  }
  .demo-link {
    text-align: center;
  }
  .sign-form section {
    margin: 0 !important;
  }
  .graph {
    width: 300px !important;
  }
  .pieChart {
    display: none;
  }
}
