body {
  background-color: #ffffff !important;
}

.logo {
  height: 3em;
  background: none;
}
.navbar-brand {
  background-repeat: no-repeat;
  background-size: contain;
  background-color: transparent !important;
}
.sticky-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  overflow: hidden;
  background-color: #ffffff;
  box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.1);
  padding: 0.7% 6% 0.7% 6%;
}
.buttons {
  list-style-type: none;
}
.nav-link,
.buttons {
  border: 1px solid #16b9c3 !important;
  width: 7em;
  height: 2em;
  font-size: 18px !important;
  border-radius: 0.1em;
  background-color: #16b9c3 !important;
  color: white !important;
  font-weight: 600 !important;
}
.content {
  text-align: center;
  margin-top: 6%;
}
.content h1 {
  font-weight: 900;
  color: #212121;
}

.signup {
  background: linear-gradient(to right, #16b9c3, #ff007f);
  border: 1px solid #16b9c3 !important;
  animation: gradientAnimation 10s ease infinite;
  border-radius: 0.3em !important;
  color: white !important;
  font-size: 20px !important;
  font-weight: 600 !important;
  padding: 10px !important;
  width: 30%;
}
.modal {
  margin-top: 1%;
}
.project-name-input {
  color: #000 !important;
  border: none;
  width: 100%;
  outline: none;
}
.project-name-input:focus {
  border-bottom: 1px #e8e8e8 solid;
  outline: none;
}
.custom-modal-header {
  border: none !important;
}
.projects-buttons {
  display: flex;
}
textarea:focus {
  outline: none;
}
@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.video-container {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding-top: 56.4%; /* 16:9 Aspect Ratio */
}

.video-container iframe {
  border: 1px solid #febace;
  border-radius: 0.5em;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.hero .row,
.hero .features span,
.hero .text-center {
  background-color: #f9ffff !important;
  color: #515151 !important;
}

.bg {
  background: url("./assets/bg.jpg") !important;
  background-position: top;
  background-repeat: no-repeat;
}
.features-cards {
  color: #101010 !important;
}
.features-cards .card {
  border-left: 5px solid #fb6793;
  background-color: #fffafa !important;
}
.footer {
  background-color: #12929e !important;
  color: #eaeaea;
  text-align: right;
}
.top-bar {
  background-color: #ffffff;
  padding: 6px;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.1);
}

.searchbar {
  width: 100%;
  border: none;
  outline: none;
  background: none;
  padding-left: 5%;
}
.search .search-button {
  border: none;
  justify-content: flex-end;
  display: flex;
}
.search {
  border: 1px #f9f9f9 solid;
  border-radius: 6px;
  background-color: #f9f9f9;
  width: 85% !important;
}
.create {
  text-align: right;
}
.create .btn {
  background-color: #fb6542;
  padding: 6px;
  color: #fff;
}
.create .btn:hover {
  background-color: #fc937b;
  outline: #fb6542;
  color: #fff;
}
.home-cards .card {
  border: none !important;
}

.imageIcon {
  justify-content: flex-end;
  text-align: right !important;
}
.icon-image {
  border-radius: 50%;
  margin-top: 2%;
}
.first .home-cards .card {
  min-height: 15rem !important;
  max-height: 20rem !important;
}
.second .home-cards .card {
  min-height: 15rem;
}
.projects-cards .card {
  min-height: 6rem;
}
.projects-cards .done {
  background-color: #e4ffeb;
  border: 1px solid #e4ffeb;
}
.projects-cards .not-started {
  background-color: #fff4e9;
  border: 1px solid #fff4e9;
}
.projects-cards .in-progress {
  background-color: #f5edff;
  border: 1px solid #f5edff;
}
.status-btn {
  text-align: right !important;
}
.status {
  width: fit-content !important;
  background-color: transparent;
  color: inherit;
  border-radius: 8px;
  border: 1px solid #ffffff;
  font-size: 14px;
}

.tasks-container {
  margin: 3%;
  padding-bottom: 1%;
}
.todo-item,
.completed-item {
  background: #ffffff;
  border-radius: 5px;
  cursor: pointer;
}
.star-task {
  text-align: right;
  cursor: pointer;
}
.todo-title {
  font-size: 15px;
}
.create-link {
  text-align: right;
}
/* ========================================== */

/* Styling the calendar toolbar */
.rbc-toolbar {
  /* background-color: #d3c5e5; */
  padding: 10px;
}

/* Styling events */
.rbc-event {
  background-color: #fb9fd3 !important;
  color: #000 !important;
  border-radius: 1px !important;
  font-size: 13px !important;
  padding: 0 !important;
}

/* Styling the selected event */
.rbc-selected {
  background-color: #bbdcf6 !important;
}

.rbc-btn {
  background-color: #3174ad !important;
  color: white;
  border: none;
  padding: 8px 12px !important;
  margin: 0 5px;
  cursor: pointer;
  border-radius: 4px;
  font-size: 14px;
}

.rbc-btn:hover {
  background-color: #245999 !important;
}
.modal {
  position: absolute;
}

@media (max-width: 700px) {
  .logo {
    height: 2.5em !important;
  }
  .imageIcon {
    display: none;
  }
  .signup {
    width: auto;
  }
  .create {
    text-align: left !important;
  }

  .projects-title {
    font-size: 17px;
  }
  .home-cards .card,
  .projects-cards .card {
    margin: 3px;
  }
  .tasks-container {
    margin: 0%;
  }
}
