body {
  background-color: #ffffff !important;
}

.logo {
  height: 3em;
  background: none;
}
.navbar-brand {
  background-repeat: no-repeat;
  background-size: contain;
  background-color: transparent !important;
}
.sticky-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  overflow: hidden;
  background-color: #ffffff;
  box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.1);
  padding: 0.7% 6% 0.7% 6%;
}
.buttons {
  list-style-type: none;
}
.nav-link,
.buttons {
  border: 1px solid #16b9c3 !important;
  width: 7em;
  height: 2em;
  font-size: 18px !important;
  border-radius: 0.1em;
  background-color: #16b9c3 !important;
  color: white !important;
  font-weight: 600 !important;
}
.content {
  text-align: center;
  margin-top: 6%;
}
.content h1 {
  font-weight: 900;
  color: #212121;
}

.signup {
  background: linear-gradient(to right, #16b9c3, #ff007f);
  border: 1px solid #16b9c3 !important;
  border-radius: 0.3em !important;
  color: white !important;
  font-size: 20px !important;
  font-weight: 600 !important;
  padding: 10px !important;
  width: 30%;
}

.video-container {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding-top: 56.4%; /* 16:9 Aspect Ratio */
}

.video-container iframe {
  border: 1px solid #febace;
  border-radius: 0.5em;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.hero .row,
.hero .features span,
.hero .text-center {
  background-color: #f9ffff !important;
  color: #101010;
}

.bg {
  background: url("./assets/bg.jpg") !important;
  background-position: top;
  background-repeat: no-repeat;
}
.features-cards {
  color: #101010 !important;
}
.features-cards .card {
  border-left: 5px solid #fb6793;
  background-color: #fffafa !important;
}
.footer {
  background-color: #12929e !important;
  color: #eaeaea;
  text-align: right;
}
.top-bar {
  background-color: #ffffff;
  padding: 6px;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.1);
}

.searchbar {
  width: 100%;
  border: none;
  outline: none;
  background: none;
  padding-left: 5%;
}
.search .search-button {
  border: none;
  justify-content: flex-end;
  display: flex;
}
.search {
  border: 1px #f9f9f9 solid;
  border-radius: 6px;
  background-color: #f9f9f9;
  width: 85% !important;
}
.intro .create {
  text-align: right;
}
.intro .create .btn {
  background-color: #775da6;
  padding: 6px;
  color: #fff;
}
.intro-card {
  background-color: white !important;
  padding: 2%;
  border-radius: 12px;
}
.tasks {
  background-color: white !important;
  padding: 2%;
  border-radius: 5px;
}
.second {
  margin: 1.2%;
}
.tasks .task {
  padding: 1.5rem;
  background-color: #f8fafb;
  border: 1px solid #f8fafb;
  border-radius: 6px;
}
.imageIcon {
  justify-content: flex-end;
  text-align: right !important;
  border-radius: 50%;
}
.icon-image {
  border-radius: 50%;
  margin-top: 2%;
}
@media (max-width: 700px) {
  .logo {
    height: 2.5em !important;
  }
  .imageIcon {
    display: none;
  }
  .signup {
    width: auto;
  }
  .intro .create {
    text-align: left;
  }
}
